.header-right {
    float: right;
}

header {
    padding: 20px;
    background: lightslategrey;
    overflow: hidden;

}

header a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial;
}

body {
    margin: 0;
}
header a:hover {
    background: #ddd;
    color: black;
}
